.container {
    width: 100%;
    padding: 0.5em;
}

.wrapper-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.align-vertically {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text-center {
    text-align: center;
}

@media (min-width: 767px) {
    .wrapper-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .align-vertically {
        align-items: flex-start;
    }
    .text-center {
        text-align: initial;
    }
}

.title {
    color: #784af4;
    margin: 0;
}

.nature-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    margin-bottom: 1em;
}
